<div class="row">
    <div class="row">
        <div class="heading-container">
            <div class="heading0 mx-2">
                <h1>About</h1>
            </div>
            <div class="heading1 mx-2">
                <h1>Me</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-3"><img src="../assets/hi.png" alt="" class="pro "></div>
        <div class="col">
            <!-- cards -->
            <div class="row">
                <div class="card col mx-3 my-5" style="width: 18rem;">
                    <div class="card-body">
                        <h3>Experience</h3>
                        <p>1+ Years of Experience</p>
                        <p class="card-text">
                            Working as a full stack developer is an enriching and dynamic
                             experience that involves working with both the frontend and backend 
                             aspects of web development.
                        </p>
                      
                    </div>
                  </div>
                  <div class="card col mx-3 my-5" style="width: 18rem;">
                    <div class="card-body">
                        <h3>Technologies</h3>
                        <p>1+ Technologies</p>
                        <p class="card-text">
                            Java, Angular, Bootstrap, HTML, CSS, Java Script,
                             Type Script, Spring, Spring boot, Spring MVC, MySQL, Git, GitHub, Python .
                        </p>
                    </div>
                  </div>
                  <div class="card col mx-3 my-5" style="width: 18rem;">
                    <div class="card-body">
                        <h3>Projects</h3>
                        <p>5+ Projects</p>
                        <p class="card-text">
                            Projects play a crucial role in the world of development,
                             serving as the building blocks that enable developers to apply their skills,
                             solve problems, and create.
                        </p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col mx-3 my-5" style="width: 18rem;">
            <div class="card-body">
                <h3>Education</h3>
                <p class="head">Graduation</p>
                <p>
                    I have completed a Bachelor's degee in Computer Science
                    from IEC College of Engineering and Technology, Grater Noida,
                     Uttar Pardesh .
                </p>
                <p class="head">Higher Secondary Schooling</p>
                <p>
                    I have completed a Higher Secondary Education
                    from M.G. Public School, Muzaffarnagar, Uttar Pardesh .
                </p>
            </div>
          </div>
          <div class="card col mx-3 my-5" style="width: 18rem;">
            <div class="card-body">
                <h3>Experience</h3>
                <p class="head">Full Stack Developer</p>
                <p>(Hexaware Technologies)</p>
                <p class="card-text">
                    As a full stack software developer in a multinational corporation like Hexaware Technologies, 
                    you would have the opportunity to work on a wide range of projects and
                     gain valuable experience across the entire software development stack
                </p>
            </div>
          </div>
        <div class="img-2 col-md-4 mt-5"><img src="../assets/stay-home.png" alt=""></div>
    </div>
</div>