<div class=" row mt-5">
  <h1>Certifications</h1>
  <div class="col">
    <div class="row my-5">
      <div class="card">
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>
              Microsoft Azure AZ-900
            </p>
            <footer class="blockquote-footer">
              AZ-900, also known as Microsoft Azure
              Fundamentals, is a foundational-level
              certification offered by Microsoft that focuses on providing a basic
              understanding of cloud concepts and services provided by the
              Microsoft Azure platform .
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="row my-5">
      <div class="card">
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>
              Py4E Certification
            </p>
            <footer class="blockquote-footer">
              PY4E offers a comprehensive curriculum that covers fundamental programming concepts,
              data structures,
              web scraping, database integration, and web application development using Python.
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="row my-5">
      <div class="card">
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>
              Google Python Crash Cource
            </p>
            <footer class="blockquote-footer">
              The Google Python Crash Course covers essential concepts and features of Python,
              including variables, data types, control flow, functions, modules, and file I/O.
              The course also introduces learners to object-oriented programming
              (OOP) in Python and covers topics such as classes, inheritance, and polymorphism.
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  <div class="col mt-3">
    <img src="../assets/coding.png" alt="" id="code-pos">
  </div>
</div>
<div class="row">
  <h1 class="mt-5">Projects</h1>
  <div class="d-container row my-5">
    <div class="d-item col">
      <div class="card" style="width: 13rem;">
        <img src="../assets/assistance.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">WheelChair Management.</p>
        </div>
      </div>
    </div>
    <div class="d-item col">
      <div class="card" style="width: 13rem;">
        <img src="../assets/claim.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Claim Management System.</p>
        </div>
      </div>
    </div>
    <div class="d-item col">
      <div class="card" style="width: 13rem;">
        <img src="../assets/mobile-shopping.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">SimplyAnime an E-commerce Website.</p>
        </div>
      </div>
    </div>
  </div>
</div>