<nav class="navbar">
    <div class="container-btn">
        <button mat-raised-button class="left-settings">
            <mat-icon class="icon-display">
                <span class="material-icons-outlined">
                    settings
                </span>
            </mat-icon>
        </button>
    </div>

    <div class="row mt-3">
        <button mat-raised-button class="left-settings">
            <mat-icon class="icon-display">
                <span class="material-icons-outlined">
                    wb_sunny
                </span>
            </mat-icon>
        </button>
    </div>
</nav>