<div class="row">
    <div class="heading-container">
        <div class="heading0 mx-2">
            <h1>Get In</h1>
        </div>
        <div class="heading1 mx-2">
            <h1>Touch</h1>
        </div>
    </div>
</div>
<div class="row">
    <h2>Don't Be Shy !</h2>
    <div class="col-md-5 mt-3">
        <p>Feel Free to get in touch with me. I am always open to discussing new projects, creative ideas or
            opportunities to be part of your vision.</p>
        <div class="s-container row">
            <div class="col-md-3"><img id="s-img" src="../assets/email.png" alt=""></div>
            <div class="col"><span>aadimohan51@gmail.com</span></div>
        </div>
        <div class="s-container row">
            <div class="col-md-3"><img id="s-img" src="../assets/phone.png" alt=""></div>
            <div class="col"><span>+91-8881685609</span></div>
        </div>
        <div class="row mt-5">
            <h3>Socials</h3>
            <div class="social-img-container row">
                <div class="col">
                    <a href="https://github.com/AadityaMohan-dev">
                        <img src="../assets/github.png" alt="">
                    </a>
                </div>
                <div class="col">
                    <a href="https://in.linkedin.com/in/aaditya-mohan">
                        <img src="../assets/linked-in.png" alt="">
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.facebook.com/Aaditya0019">
                        <img src="../assets/facebook.png" alt="">
                    </a>
                </div>
                <div class="col">
                    <a href="https://instagram.com/__.aaditya.mohan.__?igshid=OGQ5ZDc2ODk2ZA==">
                        <img src="../assets/instagram.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col">
        <div class="row">
            <div class="col">
                <div class="mb-3 mt-4">
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Your Name">
                </div>
            </div>
            <div class="col">
                <div class="mb-3 mt-4">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your Email">
                </div>
            </div>
            <div class="col">
                <div class="mb-3 mt-4">
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Subject">
                </div>
            </div>
        </div>
        <div class="mb-3 mt-4">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                placeholder="Your Message"></textarea>
        </div>
        <div class="mb-3 mt-4">

            <button class="button-85" role="button">Send Message</button>

        </div>
    </div>
</div>