<nav class="navbar">
    <button mat-fab class="btn-right mt-2" routerLink="">
        <mat-icon>
            <span class="material-icons-outlined">
                home
            </span>
        </mat-icon>
    </button>
    <button mat-fab class="btn-right mt-2" routerLink="about">
        <mat-icon>
            <span class="material-icons-outlined">
                person
            </span>
        </mat-icon>
    </button>
    <button mat-fab class="btn-right mt-2" routerLink="data">
        <mat-icon>
            <span class="material-icons-outlined">
                folder
            </span>
        </mat-icon>
    </button>
    <button mat-fab class="btn-right mt-2" routerLink="contact">
        <mat-icon>
            <span class="material-icons-outlined">
                mail
            </span>
        </mat-icon>
    </button>

</nav>