<div class="row">
  <div class="left-menu col-md-1 mt-5">
    <app-left-nav></app-left-nav>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
    <!-- <div class="row">
      <app-home></app-home>
    </div>
    <div class="row">
      <app-about></app-about>
    </div>
    <div class="row">
      <app-data></app-data>
    </div>
    <div class="row">
      <app-contact></app-contact>
    </div> -->;
  </div>
  <div class="right-menu col-md-1">
    <app-right-nav></app-right-nav>
  </div>
</div>