<div class="row">
    <div class="profile col-md-5">
        <img src="../assets/profile.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="text-container col-md-7 my-5">
        <h1>- I'm Aaditya Mohan</h1>
        <h2>Full Stack Developer</h2>
        <p>I'm an Angular & Java based Full Stack Developer focused on crafting clean and user-friendly
            experiences,
            I am passonate about bulding excellent software that improves the lives of those around me.
        </p>
        <div class="row my-4">
            <div class="col">
                <a href="../assets/Aaditya's Resume.pdf" download=""><button class="button-85" role="button">Download CV</button></a>
            </div>
        </div>
    </div>
</div>